<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyJob</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-gradient-to-r from-blue-500 to-purple-600 text-white py-6 px-4 shadow-lg ">
        <div class="max-w-4xl mx-auto text-center">

            <img src="~/images/logo.png" alt="Logo EasyJob" class="mx-auto w-24 h-auto mb-4">

            <h1 class="text-3xl font-extrabold drop-shadow-md">🚀 EasyJob – Il tuo lavoro, più semplice che mai!</h1>
            <h2 class="text-lg mt-2 opacity-90">🔥 Trova, gestisci e organizza le tue opportunità lavorative con
                un'unica piattaforma intuitiva e veloce.</h2>
        </div>
    </header>

    <main class="bg-gradient-to-r from-blue-500 to-purple-600 text-white py-6 px-4 shadow-lg min-h-[100vh] ">
        @RenderBody()
    </main>

    <f<footer class="bg-gray-900 text-gray-300 py-6 mt-10">
        <div class="max-w-5xl mx-auto text-center space-y-4">
            <h3 class="text-lg font-semibold text-gray-900">EasyJob</h3>
            <p class="text-sm text-gray-900">Copyright 2025 -Giovanni Colabella</p>
        </div>
        </footer>

</body>
</html>